@use '../abstracts';

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

a,
img,
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

img {
    display: block;
}

.icon {
    filter: var(--icon-filter);
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
